* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  background: #222222;
}
main {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-gap: 0px;
}
main > div {
  width: 100%;
  height: 0.99vh;
  background: transparent;
}
