* {
  padding: 0;
  margin: 0;
  border: none;
}
body {
  color: #fff;
  background: #444;
}
h1 {
  text-align: center;
  margin: 0.5em 0;
}
.gallery {
  margin: 0.5em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
@media screen and (min-width: 500px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}
.gallery > div {
  text-align: center;
}
