* {
  padding: 0;
  margin: 0;
  border: none;
}
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  color: #fff;
  background: #444;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
img {
  margin: 0.5em;
  max-height: calc(100vh - 6em);
}
code {
  margin: 0.5em;
  padding: 0.5em;
  background: #222;
}
