# zakaz pristupu k listingu adresaru

Options -Indexes

# rewrite engine on

RewriteEngine On

# presmerovani na index.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L,QSA]
